annotated-types
anyio
bcrypt
cachetools
certifi
chardet
charset-normalizer
click
colorama
distro
dnspython
docx
ecdsa
email_validator
fastapi
fastapi-cli
filetype
google-ai-generativelanguage
google-api-core
google-auth
googleapis-common-protos
greenlet
griffe
grpcio
grpcio-status
h11
httpcore
httptools
httpx
httpx-sse
idna
Jinja2
jiter
joblib
jsonpatch
jsonpointer
langchain
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
lxml
markdown-it-py
MarkupSafe
mcp
mdurl
numpy
openai
openai-agents
orjson
packaging
pandas
passlib
pillow
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydantic-settings
Pygments
PyJWT
PyPDF2
pytesseract
python-dateutil
python-docx
python-dotenv
python-jose
python-multipart
pytz
PyYAML
rank-bm25
requests
requests-toolbelt
rich
rich-toolkit
rsa
scikit-learn
scipy
shellingham
six
sniffio
SQLAlchemy
sse-starlette
starlette
tenacity
threadpoolctl
marshmallow==4.0.0
environs>=10.0.0
pymilvus>=2.4.0
typer
types-requests
typing_extensions
typing-inspection
tzdata
ujson
urllib3
uvicorn
watchfiles
websockets
zstandard
